@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'daydream';
  src: url('/Daydream.ttf');
}

@font-face {
  font-family: 'rainyhearts';
  src: url('/rainyhearts.ttf');
}

@font-face {
  font-family: 'cuteThicc';
  src: url('/04B_30__.TTF');
}